 # 数据预处理

In [59]:
import glob, re
import numpy as np
import pandas as pd
import matplotlib as plt
from sklearn import *
from datetime import datetime
from xgboost import XGBRegressor

## 一、文件导入、数据概览

In [60]:
# data以字典形式存储，键是‘tra’等，值是pandas表
data = {
    'tra': pd.read_csv('../input/air_visit_data.csv'),
    'as': pd.read_csv('../input/air_store_info.csv'),
    'hs': pd.read_csv('../input/hpg_store_info.csv'),
    'ar': pd.read_csv('../input/air_reserve.csv'),
    'hr': pd.read_csv('../input/hpg_reserve.csv'),
    'id': pd.read_csv('../input/store_id_relation.csv'),
    'tes': pd.read_csv('../input/sample_submission.csv'),
    #重命名calendar_data列的名字
    'hol': pd.read_csv('../input/date_info.csv').rename(columns={'calendar_date':'visit_date'})
    }

### 1. air_visit_data.csv
air 餐厅的访客信息

In [61]:
data['tra'].head()

           air_store_id  visit_date  visitors
0  air_ba937bf13d40fb24  2016-01-13        25
1  air_ba937bf13d40fb24  2016-01-14        32
2  air_ba937bf13d40fb24  2016-01-15        29
3  air_ba937bf13d40fb24  2016-01-16        22
4  air_ba937bf13d40fb24  2016-01-18         6

### 2. air_store_info.csv
air 餐厅信息

In [62]:
data['as'].head()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
0,air_0f0cdeee6c9bf3d7,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
1,air_7cc17a324ae5c7dc,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
2,air_fee8dcf4d619598e,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
3,air_a17f0778617c76e2,Italian/French,Hyōgo-ken Kōbe-shi Kumoidōri,34.695124,135.197852
4,air_83db5aff8f50478e,Italian/French,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599

### 3. hpg_store_info.csv
hpg餐厅信息

In [63]:
data['hs'].head()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
0,hpg_6622b62385aec8bf,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
1,hpg_e9e068dd49c5fa00,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
2,hpg_2976f7acb4b3a3bc,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
3,hpg_e51a522e098f024c,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221
4,hpg_e3d0e1519894f275,Japanese style,Tōkyō-to Setagaya-ku Taishidō,35.643675,139.668221

### 4. air_reserve.csv
air餐厅预定信息

In [64]:
data['ar'].head()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,air_877f79706adbfb06,2016-01-01 19:00:00,2016-01-01 16:00:00,1
1,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,3
2,air_db4b38ebe7a7ceff,2016-01-01 19:00:00,2016-01-01 19:00:00,6
3,air_877f79706adbfb06,2016-01-01 20:00:00,2016-01-01 16:00:00,2
4,air_db80363d35f10926,2016-01-01 20:00:00,2016-01-01 01:00:00,5

### 5. hpg_reserve.csv
hpg餐厅的预定信息

In [65]:
data['hr'].head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
0,hpg_c63f6f42e088e50f,2016-01-01 11:00:00,2016-01-01 09:00:00,1
1,hpg_dac72789163a3f47,2016-01-01 13:00:00,2016-01-01 06:00:00,3
2,hpg_c8e24dcf51ca1eb5,2016-01-01 16:00:00,2016-01-01 14:00:00,2
3,hpg_24bb207e5fd49d4a,2016-01-01 17:00:00,2016-01-01 11:00:00,5
4,hpg_25291c542ebb3bc2,2016-01-01 17:00:00,2016-01-01 03:00:00,13

### 6. store_id_relation.csv
两个餐厅的关联信息，由于air和hpg是两套系统，类似于美团和点评，关联的两个餐厅指的是同一家店。

In [66]:
data['id'].head()

           air_store_id          hpg_store_id
0  air_63b13c56b7201bd9  hpg_4bc649e72e2a239a
1  air_a24bf50c3e90d583  hpg_c34b496d0305a809
2  air_c7f78b4f3cba33ff  hpg_cd8ae0d9bbd58ff9
3  air_947eb2cae4f3e8f2  hpg_de24ea49dc25d6b8
4  air_965b2e0cf4119003  hpg_653238a84804d8e7

### 7. sample_submission.csv
提交的格式,把visitor的值填上即可。

In [67]:
data['tes'].head()

                                id  visitors
0  air_00a91d42b08b08d9_2017-04-23         0
1  air_00a91d42b08b08d9_2017-04-24         0
2  air_00a91d42b08b08d9_2017-04-25         0
3  air_00a91d42b08b08d9_2017-04-26         0
4  air_00a91d42b08b08d9_2017-04-27         0

In [68]:
data['tes'].shape

(32019, 2)

### 8. date_info.csv

In [69]:
data['hol'].head()

   visit_date day_of_week  holiday_flg
0  2016-01-01      Friday            1
1  2016-01-02    Saturday            1
2  2016-01-03      Sunday            1
3  2016-01-04      Monday            0
4  2016-01-05     Tuesday            0

## 二、数据标准化

### 1. 以内连接的方式把hpg的预定信息与餐厅关联信息连接

In [70]:
data['hr'] = pd.merge(data['hr'], data['id'], how='inner', on=['hpg_store_id'])

In [71]:
data['hr'].head()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors,air_store_id
0,hpg_878cc70b1abc76f7,2016-01-01 19:00:00,2016-01-01 15:00:00,4,air_db80363d35f10926
1,hpg_878cc70b1abc76f7,2016-01-02 19:00:00,2016-01-02 14:00:00,2,air_db80363d35f10926
2,hpg_878cc70b1abc76f7,2016-01-03 18:00:00,2016-01-02 20:00:00,6,air_db80363d35f10926
3,hpg_878cc70b1abc76f7,2016-01-06 20:00:00,2016-01-04 22:00:00,3,air_db80363d35f10926
4,hpg_878cc70b1abc76f7,2016-01-11 18:00:00,2016-01-11 14:00:00,2,air_db80363d35f10926

#### ar hr表转换时间格式，计算时间差、人数差

In [72]:
for df in ['ar','hr']:
    #把visit time转换成pandas时间格式
    data[df]['visit_datetime'] = pd.to_datetime(data[df]['visit_datetime'])
    #格式转换成numpy array
    data[df]['visit_datetime'] = data[df]['visit_datetime'].dt.date
    data[df]['reserve_datetime'] = pd.to_datetime(data[df]['reserve_datetime'])
    data[df]['reserve_datetime'] = data[df]['reserve_datetime'].dt.date
    #计算预约时间与到店时间差
    data[df]['reserve_datetime_diff'] = data[df].apply(lambda r: (r['visit_datetime'] - r['reserve_datetime']).days, axis=1)
    #按id和到店时间排序
    #重命名几个列
    #rs1、rv1分别指预约到店时间差、预约到店人数差，取sum
    #rs2、rv3分别指预约到店时间差、预约到店人数差，取平均
    #但是不明白为什么取sum和平均？？？？？？？？？？？？？？？
    tmp1 = data[df].groupby(['air_store_id','visit_datetime'], as_index=False)[['reserve_datetime_diff', 'reserve_visitors']].sum().rename(columns={'visit_datetime':'visit_date', 'reserve_datetime_diff': 'rs1', 'reserve_visitors':'rv1'})
    tmp2 = data[df].groupby(['air_store_id','visit_datetime'], as_index=False)[['reserve_datetime_diff', 'reserve_visitors']].mean().rename(columns={'visit_datetime':'visit_date', 'reserve_datetime_diff': 'rs2', 'reserve_visitors':'rv2'})
    data[df] = pd.merge(tmp1, tmp2, how='inner', on=['air_store_id','visit_date'])

可以看到rs1、rs2、rv1、rv2绝大部分是相同的
猜测是因为表中存在id值不唯一的情况

In [76]:
data['hr']

               air_store_id  visit_date  rs1  rv1   rs2   rv2
0      air_00a91d42b08b08d9  2016-01-14    3    2   3.0   2.0
1      air_00a91d42b08b08d9  2016-01-15    6    4   6.0   4.0
2      air_00a91d42b08b08d9  2016-01-16    3    2   3.0   2.0
3      air_00a91d42b08b08d9  2016-01-22    3    2   3.0   2.0
4      air_00a91d42b08b08d9  2016-01-29    6    5   6.0   5.0
5      air_00a91d42b08b08d9  2016-02-05   16    2  16.0   2.0
6      air_00a91d42b08b08d9  2016-03-08    2    3   2.0   3.0
7      air_00a91d42b08b08d9  2016-04-04    4    1   4.0   1.0
8      air_00a91d42b08b08d9  2016-04-07    1    2   1.0   2.0
9      air_00a91d42b08b08d9  2016-04-08   13    7   6.5   3.5
10     air_00a91d42b08b08d9  2016-04-09    4    4   2.0   2.0
11     air_00a91d42b08b08d9  2016-04-22    1    2   1.0   2.0
12     air_00a91d42b08b08d9  2016-04-28    1    2   1.0   2.0
13     air_00a91d42b08b08d9  2016-05-06    0    2   0.0   2.0
14     air_00a91d42b08b08d9  2016-05-12    2    5   2.0   5.0
15     air_00a91d42b08b08d9  2016-05-13    1    3   1.0   3.0
16     air_00a91d42b08b08d9  2016-05-20    6    1   6.0   1.0
17     air_00a91d42b08b08d9  2016-05-27   13   15  13.0  15.0
18     air_00a91d42b08b08d9  2016-06-03    1    4   1.0   4.0
19     air_00a91d42b08b08d9  2016-06-09    2    5   2.0   5.0
20     air_00a91d42b08b08d9  2016-06-10    0    4   0.0   4.0
21     air_00a91d42b08b08d9  2016-06-16    1    2   1.0   2.0
22     air_00a91d42b08b08d9  2016-06-17    2    2   2.0   2.0
23     air_00a91d42b08b08d9  2016-06-22   18    7   9.0   3.5
24     air_00a91d42b08b08d9  2016-06-24   11    6   5.5   3.0
25     air_00a91d42b08b08d9  2016-06-30   18    3  18.0   3.0
26     air_00a91d42b08b08d9  2016-07-01    1    1   1.0   1.0
27     air_00a91d42b08b08d9  2016-07-06   12    7  12.0   7.0
28     air_00a91d42b08b08d9  2016-07-08    0    9   0.0   9.0
29     air_00a91d42b08b08d9  2016-07-09    2    6   2.0   6.0
...                     ...         ...  ...  ...   ...   ...
18590  air_fea5dc9594450608  2017-01-16    0    2   0.0   2.0
18591  air_fea5dc9594450608  2017-01-18    6    2   6.0   2.0
18592  air_fea5dc9594450608  2017-01-20   29    4  29.0   4.0
18593  air_fea5dc9594450608  2017-01-21   11    4  11.0   4.0
18594  air_fea5dc9594450608  2017-01-24    4    3   4.0   3.0
18595  air_fea5dc9594450608  2017-02-02    4    4   2.0   2.0
18596  air_fea5dc9594450608  2017-02-03    4    9   4.0   9.0
18597  air_fea5dc9594450608  2017-02-08    2   12   1.0   6.0
18598  air_fea5dc9594450608  2017-02-10    4    5   4.0   5.0
18599  air_fea5dc9594450608  2017-02-11   11    4   5.5   2.0
18600  air_fea5dc9594450608  2017-02-18    4    6   2.0   3.0
18601  air_fea5dc9594450608  2017-02-20    0    6   0.0   6.0
18602  air_fea5dc9594450608  2017-02-24    8    7   8.0   7.0
18603  air_fea5dc9594450608  2017-03-08    5    2   5.0   2.0
18604  air_fea5dc9594450608  2017-03-15    4    2   4.0   2.0
18605  air_fea5dc9594450608  2017-03-16    2    3   2.0   3.0
18606  air_fea5dc9594450608  2017-03-18   49   10  24.5   5.0
18607  air_fea5dc9594450608  2017-03-23    0    8   0.0   8.0
18608  air_fea5dc9594450608  2017-03-25    3    5   1.5   2.5
18609  air_fea5dc9594450608  2017-03-27   25    7  12.5   3.5
18610  air_fea5dc9594450608  2017-03-29   18    2  18.0   2.0
18611  air_fea5dc9594450608  2017-03-30   15    3  15.0   3.0
18612  air_fea5dc9594450608  2017-04-08    6    5   6.0   5.0
18613  air_fea5dc9594450608  2017-04-15   32    4  16.0   2.0
18614  air_fea5dc9594450608  2017-04-18    6    2   6.0   2.0
18615  air_fea5dc9594450608  2017-04-21    2    2   2.0   2.0
18616  air_fea5dc9594450608  2017-04-22    0    2   0.0   2.0
18617  air_fea5dc9594450608  2017-04-25    9    2   9.0   2.0
18618  air_fea5dc9594450608  2017-04-28   29    3  29.0   3.0
18619  air_fea5dc9594450608  2017-05-20   34    6  34.0   6.0

[18620 rows x 6 columns]

#### air visit表里的时间格式转换

In [77]:
data['tra']['visit_date'] = pd.to_datetime(data['tra']['visit_date'])
#把星期转换成0到6
data['tra']['dow'] = data['tra']['visit_date'].dt.dayofweek
#把年、月信息分离成单独的列
data['tra']['year'] = data['tra']['visit_date'].dt.year
data['tra']['month'] = data['tra']['visit_date'].dt.month
data['tra']['visit_date'] = data['tra']['visit_date'].dt.date

In [87]:
data['tra'].head()

                air_store_id  visit_date  visitors  dow  year  month
0       air_ba937bf13d40fb24  2016-01-13        25    2  2016      1
1       air_ba937bf13d40fb24  2016-01-14        32    3  2016      1
2       air_ba937bf13d40fb24  2016-01-15        29    4  2016      1
3       air_ba937bf13d40fb24  2016-01-16        22    5  2016      1
4       air_ba937bf13d40fb24  2016-01-18         6    0  2016      1
5       air_ba937bf13d40fb24  2016-01-19         9    1  2016      1
6       air_ba937bf13d40fb24  2016-01-20        31    2  2016      1
7       air_ba937bf13d40fb24  2016-01-21        21    3  2016      1
8       air_ba937bf13d40fb24  2016-01-22        18    4  2016      1
9       air_ba937bf13d40fb24  2016-01-23        26    5  2016      1
10      air_ba937bf13d40fb24  2016-01-25        21    0  2016      1
11      air_ba937bf13d40fb24  2016-01-26        11    1  2016      1
12      air_ba937bf13d40fb24  2016-01-27        24    2  2016      1
13      air_ba937bf13d40fb24  2016-01-28        21    3  2016      1
14      air_ba937bf13d40fb24  2016-01-29        26    4  2016      1
15      air_ba937bf13d40fb24  2016-01-30         6    5  2016      1
16      air_ba937bf13d40fb24  2016-02-03        18    2  2016      2
17      air_ba937bf13d40fb24  2016-02-04        12    3  2016      2
18      air_ba937bf13d40fb24  2016-02-05        45    4  2016      2
19      air_ba937bf13d40fb24  2016-02-06        15    5  2016      2
20      air_ba937bf13d40fb24  2016-02-08        19    0  2016      2
21      air_ba937bf13d40fb24  2016-02-09        15    1  2016      2
22      air_ba937bf13d40fb24  2016-02-10        32    2  2016      2
23      air_ba937bf13d40fb24  2016-02-11         3    3  2016      2
24      air_ba937bf13d40fb24  2016-02-12        26    4  2016      2
25      air_ba937bf13d40fb24  2016-02-13         8    5  2016      2
26      air_ba937bf13d40fb24  2016-02-15        14    0  2016      2
27      air_ba937bf13d40fb24  2016-02-16        15    1  2016      2
28      air_ba937bf13d40fb24  2016-02-17        17    2  2016      2
29      air_ba937bf13d40fb24  2016-02-18        22    3  2016      2
...                      ...         ...       ...  ...   ...    ...
252078  air_24e8414b9b07decb  2017-03-17         4    4  2017      3
252079  air_24e8414b9b07decb  2017-03-18         7    5  2017      3
252080  air_24e8414b9b07decb  2017-03-21         2    1  2017      3
252081  air_24e8414b9b07decb  2017-03-22         8    2  2017      3
252082  air_24e8414b9b07decb  2017-03-23         8    3  2017      3
252083  air_24e8414b9b07decb  2017-03-24         7    4  2017      3
252084  air_24e8414b9b07decb  2017-03-25         2    5  2017      3
252085  air_24e8414b9b07decb  2017-03-27         4    0  2017      3
252086  air_24e8414b9b07decb  2017-03-28         7    1  2017      3
252087  air_24e8414b9b07decb  2017-03-29        11    2  2017      3
252088  air_24e8414b9b07decb  2017-03-30         7    3  2017      3
252089  air_24e8414b9b07decb  2017-03-31         8    4  2017      3
252090  air_24e8414b9b07decb  2017-04-01         6    5  2017      4
252091  air_24e8414b9b07decb  2017-04-03         4    0  2017      4
252092  air_24e8414b9b07decb  2017-04-04         2    1  2017      4
252093  air_24e8414b9b07decb  2017-04-05         2    2  2017      4
252094  air_24e8414b9b07decb  2017-04-06         8    3  2017      4
252095  air_24e8414b9b07decb  2017-04-07         8    4  2017      4
252096  air_24e8414b9b07decb  2017-04-08         8    5  2017      4
252097  air_24e8414b9b07decb  2017-04-10         4    0  2017      4
252098  air_24e8414b9b07decb  2017-04-11         2    1  2017      4
252099  air_24e8414b9b07decb  2017-04-12         8    2  2017      4
252100  air_24e8414b9b07decb  2017-04-13         6    3  2017      4
252101  air_24e8414b9b07decb  2017-04-14         2    4  2017      4
252102  air_24e8414b9b07decb  2017-04-15         7    5  2017      4
252103  air_24e8414b9b07decb  2017-04-18         6    1  2017      4
252104  air_24e8414b9b07decb  2017-04-19         6    2  2017      4
252105  air_24e8414b9b07decb  2017-04-20         7    3  2017      4
252106  air_24e8414b9b07decb  2017-04-21         8    4  2017      4
252107  air_24e8414b9b07decb  2017-04-22         5    5  2017      4

[252108 rows x 6 columns]

#### 把submission表的信息分离出来

In [79]:

data['tes']['visit_date'] = data['tes']['id'].map(lambda x: str(x).split('_')[2])
data['tes']['air_store_id'] = data['tes']['id'].map(lambda x: '_'.join(x.split('_')[:2]))
data['tes']['visit_date'] = pd.to_datetime(data['tes']['visit_date'])
data['tes']['dow'] = data['tes']['visit_date'].dt.dayofweek
data['tes']['year'] = data['tes']['visit_date'].dt.year
data['tes']['month'] = data['tes']['visit_date'].dt.month
data['tes']['visit_date'] = data['tes']['visit_date'].dt.date

In [81]:
data['tes'].head()

,id,visitors,visit_date,air_store_id,dow,year,month
0,air_00a91d42b08b08d9_2017-04-23,0,2017-04-23,air_00a91d42b08b08d9,6,2017,4
1,air_00a91d42b08b08d9_2017-04-24,0,2017-04-24,air_00a91d42b08b08d9,0,2017,4
2,air_00a91d42b08b08d9_2017-04-25,0,2017-04-25,air_00a91d42b08b08d9,1,2017,4
3,air_00a91d42b08b08d9_2017-04-26,0,2017-04-26,air_00a91d42b08b08d9,2,2017,4
4,air_00a91d42b08b08d9_2017-04-27,0,2017-04-27,air_00a91d42b08b08d9,3,2017,4

#### 使submission的store id唯一

In [83]:
#unique_stores是一个array，存放唯一的air_store_id
unique_stores = data['tes']['air_store_id'].unique()
#stores第一列是unique_stores
#第二列的dow把日期分为第一周、第二周等等，以便计算周均值
stores = pd.concat([pd.DataFrame({'air_store_id': unique_stores, 'dow': [i]*len(unique_stores)}) for i in range(7)], axis=0, ignore_index=True).reset_index(drop=True)

In [86]:
stores.head()

           air_store_id  dow
0  air_00a91d42b08b08d9    0
1  air_0164b9927d20bcc3    0
2  air_0241aa3964b7f861    0
3  air_0328696196e46f18    0
4  air_034a3d5b40d5b1b1    0

#### submission表中加入air 每周访客的最小值、均值、中位数、最大值、个数

In [89]:
# as_index=False指的是仍保留前面1，2，3的标号
tmp = data['tra'].groupby(['air_store_id','dow'], as_index=False)['visitors'].min().rename(columns={'visitors':'min_visitors'})
stores = pd.merge(stores, tmp, how='left', on=['air_store_id','dow']) 
tmp = data['tra'].groupby(['air_store_id','dow'], as_index=False)['visitors'].mean().rename(columns={'visitors':'mean_visitors'})
stores = pd.merge(stores, tmp, how='left', on=['air_store_id','dow'])
tmp = data['tra'].groupby(['air_store_id','dow'], as_index=False)['visitors'].median().rename(columns={'visitors':'median_visitors'})
stores = pd.merge(stores, tmp, how='left', on=['air_store_id','dow'])
tmp = data['tra'].groupby(['air_store_id','dow'], as_index=False)['visitors'].max().rename(columns={'visitors':'max_visitors'})
stores = pd.merge(stores, tmp, how='left', on=['air_store_id','dow'])
tmp = data['tra'].groupby(['air_store_id','dow'], as_index=False)['visitors'].count().rename(columns={'visitors':'count_observations'})
stores = pd.merge(stores, tmp, how='left', on=['air_store_id','dow'])

In [92]:
stores.head()

,air_store_id,dow,min_visitors,mean_visitors,median_visitors,max_visitors,count_observations
0,air_00a91d42b08b08d9,0,1.0,22.457143,19.0,47.0,35.0
1,air_0164b9927d20bcc3,0,2.0,7.500000,6.0,19.0,20.0
2,air_0241aa3964b7f861,0,2.0,8.920635,8.0,23.0,63.0
3,air_0328696196e46f18,0,2.0,6.416667,4.0,27.0,12.0
4,air_034a3d5b40d5b1b1,0,1.0,11.864865,10.0,66.0,37.0

In [ ]:
stores = pd.merge(stores, data['as'], how='left', on=['air_store_id']) 
# NEW FEATURES FROM Georgii Vyshnia
stores['air_genre_name'] = stores['air_genre_name'].map(lambda x: str(str(x).replace('/',' ')))
stores['air_area_name'] = stores['air_area_name'].map(lambda x: str(str(x).replace('-',' ')))
lbl = preprocessing.LabelEncoder()
for i in range(10):
    stores['air_genre_name'+str(i)] = lbl.fit_transform(stores['air_genre_name'].map(lambda x: str(str(x).split(' ')[i]) if len(str(x).split(' '))>i else ''))
    stores['air_area_name'+str(i)] = lbl.fit_transform(stores['air_area_name'].map(lambda x: str(str(x).split(' ')[i]) if len(str(x).split(' '))>i else ''))
stores['air_genre_name'] = lbl.fit_transform(stores['air_genre_name'])
stores['air_area_name'] = lbl.fit_transform(stores['air_area_name'])

In [ ]:
data['hol']['visit_date'] = pd.to_datetime(data['hol']['visit_date'])
data['hol']['day_of_week'] = lbl.fit_transform(data['hol']['day_of_week'])
data['hol']['visit_date'] = data['hol']['visit_date'].dt.date
train = pd.merge(data['tra'], data['hol'], how='left', on=['visit_date']) 
test = pd.merge(data['tes'], data['hol'], how='left', on=['visit_date'])

In [ ]:
train = pd.merge(train, stores, how='left', on=['air_store_id','dow']) 
test = pd.merge(test, stores, how='left', on=['air_store_id','dow'])

In [ ]:
for df in ['ar','hr']:
    train = pd.merge(train, data[df], how='left', on=['air_store_id','visit_date']) 
    test = pd.merge(test, data[df], how='left', on=['air_store_id','visit_date'])

In [ ]:
train['id'] = train.apply(lambda r: '_'.join([str(r['air_store_id']), str(r['visit_date'])]), axis=1)

In [ ]:
train['total_reserv_sum'] = train['rv1_x'] + train['rv1_y']
train['total_reserv_mean'] = (train['rv2_x'] + train['rv2_y']) / 2
train['total_reserv_dt_diff_mean'] = (train['rs2_x'] + train['rs2_y']) / 2

In [ ]:
test['total_reserv_sum'] = test['rv1_x'] + test['rv1_y']
test['total_reserv_mean'] = (test['rv2_x'] + test['rv2_y']) / 2
test['total_reserv_dt_diff_mean'] = (test['rs2_x'] + test['rs2_y']) / 2

In [ ]:
# NEW FEATURES FROM JMBULL
train['date_int'] = train['visit_date'].apply(lambda x: x.strftime('%Y%m%d')).astype(int)
test['date_int'] = test['visit_date'].apply(lambda x: x.strftime('%Y%m%d')).astype(int)
train['var_max_lat'] = train['latitude'].max() - train['latitude']
train['var_max_long'] = train['longitude'].max() - train['longitude']
test['var_max_lat'] = test['latitude'].max() - test['latitude']
test['var_max_long'] = test['longitude'].max() - test['longitude']

In [ ]:
# NEW FEATURES FROM Georgii Vyshnia
train['lon_plus_lat'] = train['longitude'] + train['latitude'] 
test['lon_plus_lat'] = test['longitude'] + test['latitude']

In [ ]:
lbl = preprocessing.LabelEncoder()
train['air_store_id2'] = lbl.fit_transform(train['air_store_id'])
test['air_store_id2'] = lbl.transform(test['air_store_id'])

In [ ]:
col = [c for c in train if c not in ['id', 'air_store_id', 'visit_date','visitors']]
train = train.fillna(-1)
test = test.fillna(-1)